.DS_Store
internal/docs/public
/.env
/.go
/tmp/
/pkg
/bin
/dist
*.bts
*.swp
*.swo

/tls/*.crt
/tls/*.key
/tls/*.csr
/local-archive
**bucket-cache/
.vscode
.idea
debug
.bundle
*.swp
*.crt
*.csr
*.key
*.prof
*.test
*.index
*.db
*.conf
*.lock
